body {
  background: black;
  color: #00ffcc;
  font-family: monospace;
  text-align: center;
  padding-top: 60px;
}

#container {
  width: 90%;
  max-width: 500px;
  margin: auto;
  border: 1px solid #00ffcc;
  padding: 30px;
  border-radius: 8px;
}

pre {
  background: #111;
  padding: 15px;
  text-align: left;
  overflow-x: auto;
}

input {
  width: 80%;
  padding: 10px;
  margin-top: 15px;
  background: black;
  border: 1px solid #00ffcc;
  color: #00ffcc;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #00ffcc;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#error {
  color: red;
  margin-top: 10px;
}
